################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/HardwareStoreApp/v17
/HardwareStoreApp/bin/Debug/netcoreapp3.1
/HardwareStoreApp/obj
/.vs/HardwareStoreApp/DesignTimeBuild
/.vs
